<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/echarts/4.7.0/echarts.js"></script>
    <link href="https://cdn.staticfile.org/bootstrap-select/1.13.12/css/bootstrap-select.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/bootstrap-select/1.13.12/js/bootstrap-select.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <style>
        tr:hover {
            background-color: #f3ecec;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div id="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="./index.html">在线学生课程学习管理信息系统</a>
            </div>
        </div>
    </nav>
</div>
<div id="content" style="width: 80%; padding: 10px; margin: 0 auto">
    <div id="user_show">
        <h3>学生列表</h3>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>权限</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(user, index) in userList">
                    <td>{{index}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.role}}</td>
                    <td>
                        <div class="btn-group btn-group-xs" role="group">
                            <button type="button" class="btn btn-default"
                                    @click="update(index)"
                                    data-toggle="modal"
                                    data-target="#userShowModal"
                                    data-modal-name="修改用户">修改
                            </button>
                            <button type="button" class="btn btn-default" @click="del(index)">删除</button>
                            <button type="button" class="btn btn-default"
                                    @click="add()"
                                    data-toggle="modal"
                                    data-target="#userShowModal"
                                    data-modal-name="添加用户">添加
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="userShowModal" tabindex="-1" role="dialog" aria-labelledby="bookShowModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">标题</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="control-label">名称</label>
                                <input name="name" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label">权限</label>
                                <input name="role" type="text" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" @click="submit()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="major_show">
        <h3>学生选课管理</h3>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>课程名</th>
                    <th>学生姓名</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>成绩</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(major, index) in majorList">
                    <td>{{index}}</td>
                    <td>{{major.courseVO.name}}</td>
                    <td>{{major.userVO.name}}</td>
                    <td>{{major.startDate}}</td>
                    <td>{{major.endDate == null ? '请填写' : major.endDate}}</td>
                    <td>{{major.record == null ? '请填写' : major.record}}</td>
                    <td>
                        <div class="btn-group btn-group-xs" role="group">
                            <button type="button"
                                    class="btn btn-default"
                                    data-toggle="modal"
                                    @click="update(index)"
                                    data-target="#majorShowModal"
                                    data-modal-name="选课填写">填写
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="majorShowModal" tabindex="-1" role="dialog" aria-labelledby="majorShowModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">标题</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="control-label">结束时间</label>
                                <input name="endDate" type="text" class="form-control" placeholder="2020-06-23">
                            </div>
                            <div class="form-group">
                                <label class="control-label">成绩</label>
                                <input name="record" type="text" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" @click="submit()">确定</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="statistics_show">
        <h3>学生课程信息总汇</h3>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>学生名称</th>
                    <th>已获学分</th>
                    <th>已选课数</th>
                    <th>通过课程门数</th>
                    <th>不及格门数</th>
                    <th>各科平均成绩排序</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(statistics, index) in statisticsList">
                    <td>{{index}}</td>
                    <td>{{statistics.userVO.name}}</td>
                    <td>{{statistics.credit}}</td>
                    <td>{{statistics.selectNum}}</td>
                    <td>{{statistics.pass}}</td>
                    <td>{{statistics.fail}}</td>
                    <td>{{0}}</td>
                    <td>
                        无操作
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script src="js/common.js"></script>
<script>
    let vue_user_show = new Vue({
        el: '#user_show',
        data: {
            userList: [],
            nowEditUserIndex: -1
        },
        mounted() {
            axios.get(
                'http://localhost:8080/user/get'
            ).then(response => {
                this.userList = response.data.data
            }).catch(function (error) {
                console.log(error);
            });
        },
        methods: {
            update(index) {
                $("#userShowModal input").each((index1, e) => {
                    e.value = this.userList[index][e.name]
                })
                this.nowEditUserIndex = index;
            },
            del(index) {
                let bookId = this.userList[index].id;
                if (confirm("确定要删除吗？")) {
                    axios.get(
                        'http://localhost:8080/user/delete?id=' + bookId,
                    ).then(response => {
                        if (response.data.code === 200) {
                            alert("删除成功")
                        } else {
                            alert("删除失败")
                        }
                        window.location.reload()
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            add() {
                $("#userShowModal input").each((index1, e) => {
                    e.value = ""
                })
                this.nowEditUserIndex = -1;
            },
            submit() {
                let newData = {}
                $("#userShowModal input").each((index1, e) => {
                    newData[e.name] = e.value;
                })

                if (this.nowEditUserIndex !== -1) {
                    newData["id"] = this.userList[this.nowEditUserIndex].id;
                    newData["password"] = this.userList[this.nowEditUserIndex].password;
                }

                axios.post(
                    'http://localhost:8080/user/update', newData
                ).then(response => {
                    if (response.data.code === 200) {
                        alert("成功")
                    } else {
                        alert("失败")
                    }
                    window.location.reload()

                }).catch(function (error) {
                    console.log(error);
                });

                this.nowEditBookIndex = -1;
            }
        }
    });

    let vue_major_show = new Vue({
        el: '#major_show',
        data: {
            majorList: [],
            nowEditMajorIndex: -1
        },
        mounted() {
            axios.get(
                'http://localhost:8080/major/get'
            ).then(response => {
                this.majorList = response.data.data
            });
        },
        methods: {
            submit(){
                let newData = this.majorList[this.nowEditMajorIndex];
                console.log(newData)
                $("#majorShowModal input").each((index1, e) => {
                    newData[e.name] = e.value;
                })

                axios.post(
                    'http://localhost:8080/major/update', newData
                ).then(response => {
                    if (response.data.code === 200) {
                        alert("成功")
                    } else {
                        alert("失败")
                    }
                    window.location.reload()

                });
                this.nowEditBookIndex = -1;
            },
            update(index) {
                this.nowEditMajorIndex = index;
                console.log(this.nowEditMajorIndex)
            },
        }
    });

    let vue_statistics_show = new Vue({
        el: '#statistics_show',
        data: {
            statisticsList: [],
            nowEditIndex: -1
        },
        mounted() {
            axios.get(
                'http://localhost:8080/statistics/get'
            ).then(response => {
                this.statisticsList = response.data.data
            });
        }
    });


    $('#userShowModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var modal_name = button.data('modal-name')
        var modal = $(this)
        modal.find('.modal-title').text(modal_name)
    })

    $('#majorShowModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var modal_name = button.data('modal-name')
        var modal = $(this)
        modal.find('.modal-title').text(modal_name)
    })
</script>
</html>