<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/echarts/4.7.0/echarts.js"></script>
    <link href="https://cdn.staticfile.org/bootstrap-select/1.13.12/css/bootstrap-select.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/bootstrap-select/1.13.12/js/bootstrap-select.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>
<body>
<div id="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="./index.html">在线学生课程学习管理信息系统</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right nav-tabs">
                    <li style="margin-right: 15px" role="presentation" class="dropdown">
                        <a v-if="hadLogin == false" href="javascript:" data-toggle="modal" data-target="#loginModal">
                            登陆
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" v-if="hadLogin == true" href="javascript:" data-toggle="modal">
                            {{user.name}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="list-group-item" v-if="user.role == 0" role="button">修改密码</li>
                            <li class="list-group-item" v-if="user.role == 0">
                                <input id="changePw" class="form-control" type="password" placeholder="请输入新密码：">
                                <button type="button" class="btn btn-primary" onclick="submit(2)" style="padding: 1px;
                                        font-size: 12px;
                                        margin-top: 5px;">
                                    确定
                                </button>
                            </li>
                            <li class="list-group-item" v-if="user.role == 1">
                                <a href="./admin.html" style="padding: 0">系统管理</a>
                            </li>
                            <li class="list-group-item" role="button" @click="loginOut()">注销</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="margin-top: 10%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">登陆</h4>
                </div>
                <div class="modal-body">
                    <form id="loginForm">
                        <div style="width: 50%; float: left">
                            欢迎登陆
                        </div>
                        <div style="width: 50%; float: right">
                            <div class="form-group">
                                <label class="control-label">账号</label>
                                <input type="text" class="form-control" name="name"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">密码</label>
                                <input type="password" class="form-control" name="password"/>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-default" onclick="submit(1)">注册</button>
                    <button type="button" class="btn btn-primary" onclick="submit(0)">登陆</button>
                    <button type="button" class="btn btn-primary" onclick="submit(3)">管理员登录</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content" style="width: 80%; padding: 10px; margin: 0 auto">
    <div id="course_detail" style="width: 48%; float: left">
        <h3>{{course.name}}</h3>
        <ul class="list-group">
            <li class="list-group-item">课程编号：{{course.number}}</li>
            <li class="list-group-item">学分：{{course.credit}}</li>
            <li class="list-group-item">理论学时：{{course.theoryTime}}</li>
            <li class="list-group-item">实践学时：{{course.practiceTime}}</li>
            <li class="list-group-item">考核方式：{{course.examType}}</li>
        </ul>
    </div>
    <div id="borrow" style="width: 48%; float: right">
        <h3>{{hadLogin == false ? '您还没有登陆': '借阅记录'}} </h3>
        <ul class="list-group">
            <li class="list-group-item" v-if="hadLogin" v-for="(bor, index) in borrow">
                <div style="float: left">
                    借阅时间：{{bor.date}} <br>
                    是否归还：{{bor.hadReturn==0?'尚未归还':'已经归还'}} <br>
                    催还：{{bor.needReturn==0?'否':'是'}}
                </div>
                <div style="float: right">
                    <button type="button" class="btn btn-info" @click="returnBook($event)">归还</button>
                </div>
                <div style="clear: both"></div>
            </li>
            <li class="list-group-item" v-if="borrow.length == 0">
                <button type="button" class="btn btn-info" @click="borrowBook($event)">借阅</button>
            </li>
        </ul>
    </div>
    <div style="clear: both"></div>
</div>

</body>
<script src="js/common.js"></script>
<script>
    let param = parseParamFormLocation(location);

    let course_detail = new Vue({
        el: '#course_detail',
        data: {
            course: {},
        },
        mounted() {
            axios.get(
                DOMAIN + '/course/get?id=' + param.id
            ).then(response => {
                this.course = response.data.data[0]
            });
        }
    });

    let vue_book_borrow = new Vue({
        el: '#borrow',
        data: {
            borrow: {},
            hadLogin: false,
            user: {}
        },
        mounted() {
            setTimeout(()=>{
                if (this.hadLogin){
                    axios.get(DOMAIN + '/bookBorrow/get?userId='
                        + this.user.id + '&bookId=' + param.id, {
                        withCredentials: true

                    }).then(response => {
                        if (response.data.code === 200) {
                            this.borrow = response.data.data;
                            console.log(this.borrow)
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            }, 500)
        },
        methods:{
            returnBook(event){
                axios.get(DOMAIN + '/bookBorrow/return?userId='
                    + this.user.id + '&bookId=' + param.id, {
                    withCredentials: true

                }).then(response => {
                    if (response.data.code === 200) {
                        window.location.reload();
                    }
                }).catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            },
            borrowBook(){
                axios.get(DOMAIN + '/bookBorrow/add?userId='
                    + this.user.id + '&bookId=' + param.id, {
                    withCredentials: true

                }).then(response => {
                    if (response.data.code === 200) {
                        window.location.reload();
                    }
                }).catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            }
        }
    });

    Object.keys((PAGEINFO)).forEach((key => {
        Object.defineProperty(PAGEINFO, key, {
            set: (val) => {
                Vue.set(vue_discuss, key, val)
                Vue.set(vue_book_borrow, key, val)
            }
        })
    }))
</script>
</html>